body{
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "BMJ";
    src: url("../public/font/BMJUA_ttf.ttf");
}

@font-face {
    font-family: "BMD";
    src: url("../public/font/BMDOHYEON_ttf.ttf");
}

@font-face {
    font-family: "BMHA";
    src: url("../public/font/BMHANNAAir_ttf.ttf");
}

@font-face {
    font-family: "BMHP";
    src: url("../public/font/BMHANNAPro.ttf");
}

@font-face {
    font-family: "BMY";
    src: url("../public/font/BMYEONSUNG_ttf.ttf");
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}   /* input 자동 완성 백그라운드 색상 제거 */