.header{
    top:0;
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}

.logo{
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.logo:hover{
    transition: 0.2s;
    opacity: 0.2;
}

.navbar{
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    border-top: 1.5px solid rgb(168, 163, 163);
    border-bottom: 1.5px solid rgb(168, 163, 163);
}

.navi-item{
    flex: auto;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
}

.navbar :hover{
    background-color: rgb(234, 244, 247);
}

.navbar div {
    padding-top:8px;
}