.post_box{
    width: 85%;
    display: flex;
    flex-flow: row wrap;
    border: 0px;
    height: 140px;
    border-top-left-radius: 25px;
    background-color: #cccccc;
    padding: 10px;
    padding-left: 30px;
    margin-bottom: 20px;
}

.post_box p{
    overflow: hidden;
}
