.post_container{
    width: 1400px;
    height: 100%;
    margin:auto;
    margin-top: 60px;
}

.post_boxs{
    width: 95%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-top: 60px;
}
