.navigation {   /* https://codepen.io/SitePoint/pen/LYQaLV 참고*/
    width: 200px;
    position: fixed;
    top: 120px;
    right: 0;
    bottom: 80px;
    left: 0;
    z-index: 1;

    list-style: none;
    background: #d8c7c7;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin:0;
    padding:0;
}

.navigation li {
    display: flex;
    flex-direction: column;
    background-color: #d8c7c7;
    width: 200px;
}

.navigation li a {
    display: inline-block;
    padding: 1em;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    transition: color 0.2s, background 0.5s;
}

.navigation li a:hover {
    color: #7fc9db;
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    position: fixed;
    left: 30px; top: 50px;
    z-index: 2;
}

.toggle-menu-icon{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.nav-trigger + label {
    transition: left 0.2s;
}


.show-menu{
    left : 0px;   
    transition: 1s;
}

.hide-menu{
    left: -200px;
    transition: 1s;
}