.container {
    height: 100%;
    display: flex;
    justify-content: center;
  }
  
  .loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
  }
  
  .movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 50px;
    width: 80%;
    padding-top: 70px;
  }
  
  @media screen and (max-width: 1090px) { /* max-width 이므로 해당 길이보다 작으면 적용, 모바일 화면도 구현시 max-width:768 의 안에서 적용될 스타일을 작성한다고 함*/
    .movies {
      width: 100%;
    }
  }
  